<h1>Editing Recipe</h1>

<%= bootstrap_form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.collection_select :level_id, Level.all, :id, :to_s %>
  </div>
  <div class="field">
    <%= f.collection_select :duration_id, @durations, :id, :to_s %>
  </div>
  <div class="field">
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

<div ng-app="friendlyApp" ng-controller="IngredientsController">
<h2>Ingredients</h2>
<table class="table">
  <tr ng-repeat="inc in recipe.recipe_ingredients">
    <td>
      {{inc.ingredient.name}}
    </td>
    <td>
      {{inc.instruction}}
    </td>
    <td>
      {{inc.amount}}
    </td>
    <td>
      {{inc.unit.name}}
    </td>
    <td>
      <button class="btn btn-danger" ng-click="removeRecipeIngredient(inc.id)">Remove</button>
    </td>
  </tr>
</table>

</ul>
<h2>Add Ingredients</h2>


<div ng-form>
<input ng-model="searchText" class="form-control" uib-typeahead="ingredient as ingredient.name for ingredient in ingredients | filter:{name:$viewValue} | limitTo:8" />
<button class="btn" ng-click="submitIngredient(searchText)" value="New Ingredient">Create</button>
</div>
<table class="table">
  <thead>
    <th>
      Ingredient
    </th>
    <th>
      Instruction
    </th>
    <th>
      Amount
    </th>
    <th>
      Unit
    </th>
    <th>
      Add
    </th>
  </thead>
  <tbody ng-hide="search">
    <tr ng-repeat="ingredient in ingredients | incSearch: searchText" ng-form>
      <td>{{ingredient.name}}</td>
      <td>
        <input class="form-control" type="text" ng-model="recipeIngredient.instruction" />
      </td>
      <td>
      <input class="form-control" size="4" type="number" step="0.01" name="amount" ng-model="recipeIngredient.amount">
      </td>
      <td>
      <%= select_tag "units", options_from_collection_for_select(@units, :id, :to_s), :include_blank => false,"ng-model" => "recipeIngredient.unit_id", class:"form-control" %>
      </td>
      <td>
      <button class="btn" type="submit" ng-click="submitForm(recipeIngredient, ingredient.id, $index)" ng-disabled="recing">+</button>
      </td>
    </tr>
  </tbody>
</table>


</div>
<h4>Add Notes:</h4>
<%= bootstrap_form_for(@recipe) do |f| %>
<div class="field notefield">
  <%= f.cktext_area :note%>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', @recipe, method: :get %>
