<h1>Editing Recipe</h1>

<%= render 'form' %>

<h2>Ingredients</h2>
<table class="table">
  <% @recipe_ingredients.each do |inc| %>
  <tr>
    <td>
      <%= inc.ingredient %>
    </td>
    <td>
      <%= inc.amount %>
    </td>
    <td>
      <%= inc.unit %>
    </td>
    <td>
      <%= link_to 'Remove', recipe_ingredient_path(inc), method: :delete %>
    </td>
  </tr>
    <% end %>
</table>

</ul>
<h2>Add Ingredients</h2>
<div ng-app="friendlyApp" ng-controller="IngredientsController">

<%= bootstrap_form_for(@ingredient) do |f| %>
<%= f.text_field :name,  "ng-model"=>"searchText",class:"form-control", "uib-typeahead"=>"ingredient as ingredient.name for ingredient in ingredients | filter:{name:$viewValue} | limitTo:8" %>
<%= f.submit %>
<% end %>
<table class="table">
  <thead>
    <th>
      Ingredient
    </th>
    <th>
      Add
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="ingredient in ingredients | filter:searchText">
      <%= bootstrap_form_for(@recipe_ingredient) do |fo| %>
      <td>
        {{ingredient.name}}
      </td>
      <td>
        <%= fo.number_field :amount %>
      </td>
      <td>
        <%= fo.select :unit_id, options_from_collection_for_select(@units, :id, :to_s) %>
        <%= fo.hidden_field :recipe_id, :value => @recipe.id %>
        <%= fo.hidden_field :ingredient_id, :value => "{{ingredient.id}}" %>
      </td>
      <td>
        <%= fo.submit '+' %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>


</div>
<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', @recipe, method: :get %>
